body{
    margin: 0;
}

table{
    width: 100%; 
    height: 100vh;
    border-collapse: collapse;
    border-color: black;
    }

/* definição das linhas */
#linha1{
    background-color: rgb(159, 140, 249);
    height: 25px;
}
#linha2{
    background-color: rgb(159, 140, 249);
    height: 45px;
}
#linha3{
    background-color: rgb(159, 140, 249);
    height: 25px;
}
#linha11{
    background-color: rgb(53, 53, 53);
    height: 50px;
}
#linha12{
    background-color: rgb(53, 53, 53);
    height: 40px;
}
#linha13{
    background-color: rgb(53, 53, 53);
    height: 40px;
}
#linha14{
    background-color: rgb(53, 53, 53);
    height: 80px;
}
#linha15{
    background-color: rgb(53,53,53);
    height: 50px;
}

/*definição coluna*/
#tdLogo1{
    width: 220px;
}
#tdLogo2{
    width: 220px;
}
#tdNome{
    width: 481px;
}


/*definição imagens*/
#logo1{
    width: 110px;
    height: 110px;
    float: right;
}
#logo2{
    width: 110px;
    height: 110px;
}
#nome{
    width: 481px;
}
#Facebook{
    float: right;
    margin-right: 10px;
}
#Instagram{
    float: right;
    margin-right: 10px;
}
#Phone{
    float: right;
    margin-right: 10px;
}

/*definição de texto*/
#hard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
    width: 50px;
}
#inst{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
}
#produto2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 255, 255);
    font-size: 25px;
}
#sobre2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 255, 255);
    font-size: 25px;
}
#contato2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 255, 255);
    font-size: 25px;
}
#phone{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
}